In [63]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
from matplotlib import pyplot as plt
import sklearn
import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn')
sns.set(font_scale=1.4)

# 데이터 불러오기
train = pd.read_csv('train.csv')
test_ = pd.read_csv('test.csv')

test = test_.copy() # 데이터 보존

### 데이터 전처리

In [64]:
#수치형 변수에 포함되는 데이터 타입 선정

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']


#결측치는 위 데이터로 채우기

train[train.select_dtypes(include=numerics).columns] = \
    train[train.select_dtypes(include=numerics).columns].fillna(method='ffill')

test[test.select_dtypes(include=numerics).columns] = \
    test[test.select_dtypes(include=numerics).columns].fillna(method='ffill')

In [65]:
test_not_index = test.drop(['index'], axis=1)
train_not_index = train.drop(['index'], axis=1)

train_not_index.drop(['day'], inplace=True, axis=1)
test_not_index.drop(['day'], inplace=True, axis=1)

In [66]:
# month, hour 은 범주형으로 변경
# train['month'] = train['month'].astype('category')
# train['hour'] = train['hour'].astype('category')

# month와 hour 범주화 타입으로 변경
# test['month'] = test['month'].astype('category')
# test['hour'] = test['hour'].astype('category')

In [67]:
# weather 은 범주형 Feature 입니다.
# 숫자로 표현돼 있으니 One-Hot Encoding을 진행해 줍니다.
# One-hot encoding 진행
train_not_index = pd.get_dummies(train_not_index, columns=['weather_condition'])
test_not_index = pd.get_dummies(test_not_index, columns=['weather_condition'])

In [68]:
# skin_temp 제거
train_not_index.drop(['skin_temp'], inplace=True, axis=1)
test_not_index.drop(['skin_temp'], inplace=True, axis=1)

## 검증 데이터로 분리

베이스 코드에는 모델의 성능을 비교해보기 위해 train 데이터에서 일부를 validation 데이터로 나눠서 진행

### Train, Test data 분할하기

In [69]:
from sklearn.model_selection import train_test_split

train_data, val_data = train_test_split(train_not_index, test_size = 0.2, random_state=2023, shuffle=True)

In [70]:
print(train_data.shape)
print(val_data.shape)

(3910, 8)
(978, 8)

In [71]:
X_train = train_data.drop(['count'], axis = 1)
X_val = val_data.drop(['count'], axis = 1)
X_test = test_not_index

y_train = train_data['count']
y_val = val_data['count']


print("X_train의 shape: ", X_train.shape)
print("X_val의 shape: ", X_val.shape)
print("X_test의 shape: ", X_test.shape)
print("\t")
print("y_train의 shape: ", y_train.shape)
print("y_val의 shape: ", y_val.shape)

X_train의 shape:  (3910, 7)
X_val의 shape:  (978, 7)
X_test의 shape:  (576, 7)

y_train의 shape:  (3910,)
y_val의 shape:  (978,)

In [72]:
X_test

,month,hour,real_temp,humidity,windspeed,weather_condition_1,weather_condition_2
0,1,0,18.86,77.0,22.0028,0,1
1,1,1,18.86,77.0,22.0028,0,1
2,1,2,18.04,51.0,32.9975,0,1
3,1,3,18.04,51.0,32.9975,0,1
4,1,4,13.94,46.0,35.0008,1,0
...,...,...,...,...,...,...,...
571,12,19,15.58,50.0,26.0027,1,0
572,12,20,14.76,50.0,15.0013,1,0
573,12,21,13.94,61.0,15.0013,1,0
574,12,22,13.94,61.0,6.0032,1,0
575,12,23,13.12,66.0,8.9981,1,0

### 모델링

In [73]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [74]:
# 전동킥보드 수요를 예측하는 대회이므로 회귀(Regression) 모델을 사용합니다.
# 이 대회는 회귀 평가 지표중 하나인 R2(R Squared Score) 결정계수 Score 로 평가합니다.

from sklearn.metrics import r2_score
# r-square 함수사용
# r2 = r2_score(y_test, y_pred)

In [75]:
rnd_clf = RandomForestRegressor(n_estimators=500, max_leaf_nodes=100, n_jobs=-1)
rnd_clf.fit(X_train, y_train)

y_rnd_pred = rnd_clf.predict(X_val)

print(rnd_clf.score(X_train, y_train))
print(rnd_clf.score(X_val, y_val))
print(r2_score(y_val, y_rnd_pred))

0.8469626399863023
0.7609937245195536
0.7609937245195536

In [76]:
from sklearn.ensemble import RandomForestRegressor # Random Forest
from sklearn.ensemble import AdaBoostRegressor # AdaBoost
from sklearn.ensemble import BaggingRegressor # Bagging

In [77]:
# kfold 준비
from sklearn.model_selection import KFold, cross_val_score
 
# kfold 설정
kfold = KFold(n_splits=10, random_state=1230, shuffle=True)

In [78]:
# # 사용할 모델 설정
# models = [RandomForestRegressor(), AdaBoostRegressor(), BaggingRegressor()]
# regressors = ['RandomForest', 'AdaBoost', 'Bagging']
# score_result = []
 
# # Kfold 교차 검증
# for x in models:
#     Rgr = x
#     score = cross_val_score(Rgr, X_train, y_train, cv=kfold, scoring='r2')
#     score_result.append(score.mean())
    
# # 결과를 dataframe 으로 변경
# Kfold_score_result = pd.DataFrame({'Score' : score_result}, index=regressors)
# Kfold_score_result

In [79]:
# # 랜덤포레스트 모델 사용준비
# from sklearn.ensemble import RandomForestRegressor
 
# val = [10, 20, 30, 40, 50, 70, 100, 150, 200]
# result = []
 
# for i in val:
#     # 랜덤포레스트 모델
#     model = RandomForestRegressor(n_estimators=i)
 
#     # kfold 교차 검증
#     score = cross_val_score(model, X_train, y_train, cv=kfold, scoring='r2')
 
#     # score 평균
#     mean = score.mean()
#     result.append(mean)

In [80]:
# fig, ax = plt.subplots(figsize=(12,5))
 
# # x축은 n_estimators 값, y축은 score 의 평균
# plt.plot(val,result)
 
# plt.show()

# 결과 제출

예측한 결과값을 submission 파일로 생성

In [81]:
# 학습 및 예측
test_predicted = rnd_clf.predict(X_test)

In [82]:
X_result = pd.concat([test['index'], X_test],axis=1)
X_result

,index,month,hour,real_temp,humidity,windspeed,weather_condition_1,weather_condition_2
0,1,1,0,18.86,77.0,22.0028,0,1
1,2,1,1,18.86,77.0,22.0028,0,1
2,3,1,2,18.04,51.0,32.9975,0,1
3,4,1,3,18.04,51.0,32.9975,0,1
4,5,1,4,13.94,46.0,35.0008,1,0
...,...,...,...,...,...,...,...,...
571,572,12,19,15.58,50.0,26.0027,1,0
572,573,12,20,14.76,50.0,15.0013,1,0
573,574,12,21,13.94,61.0,15.0013,1,0
574,575,12,22,13.94,61.0,6.0032,1,0
575,576,12,23,13.12,66.0,8.9981,1,0

In [83]:
sample_sub = pd.DataFrame({'index': X_result['index'], 'count': test_predicted})
sample_sub

     index       count
0        1   59.134672
1        2   40.523781
2        3   19.652349
3        4   19.592769
4        5   19.592769
..     ...         ...
571    572  345.020945
572    573  239.846161
573    574  153.226330
574    575  122.675412
575    576  114.245280

[576 rows x 2 columns]

In [84]:
sample_sub.to_csv("submission.csv", index=False)